*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #F8F8F8;

}
.container{
    width: 100%;
    height: 100%;
    
    margin-top: 60px;
    padding-bottom: 3.5rem;
}
.login-container{
    width: 60%;
    /* border: 2px solid red; */
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    border-radius:7px ;

    border: 1px solid rgb(232, 230, 230);
    box-shadow: 1px 1px  rgb(240, 240, 240);
    padding: 50px 0px;
    background-color: white;
    z-index: 1000;
}
.logo{
    margin: auto;
    width: 14rem;
}
.logo img{
    margin: auto;
    width: 14rem;
}
.heading{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    color: rgb(90, 84, 84);
   
    margin: 20px 0px;
}
.heading h2{
    font-weight: 300;
    font-size: 1.8rem;
    color: rgb(90, 84, 84);
    font-family: 'Poppins', sans-serif;

}
.registration-details{
    display: flex;
    flex-direction: column;
   justify-content: space-between;
   
   /* width: 100%; background-color: yellow; */
}
.registration-details h4{
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 700;
    color:rgb(0, 0, 0);
    text-align: center;
}
form{
    display: flex;
    gap: 1.6rem;
    flex-direction: column;
    margin-top: 30px;
    padding: 0px 20px;
}
.row-1, .row-5, .row-6, .row-7{
    display: flex;
    /* gap: rem; */
    width: 100%;
    /* background-color: pink; */
    justify-content: space-between;
    
}
.half-width{
    /* background-color: blue; */
    width: 49%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
   
}
.half-width input{
    width: 100%;
    border-radius: 5px;
    padding: 8px 10px;
    color: grey;
    border: 1px solid rgb(212, 210, 210);
}
.half-width input:hover{
    border: 1px solid rgb(123, 11, 228);
    
}

/* .row-2{

} */
.full-width{
    /* background-color: blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.full-width input{
    width: 100%;
    border-radius: 5px;
    padding: 8px 10px;
    border: 1px solid rgb(212, 210, 210);
}
.full-width input:hover{
    border: 1px solid rgb(123, 11, 228);
}
.row-3{
    display: flex;
    /* gap: rem; */
    width: 100%;
    /* background-color: pink; */
    justify-content: space-between;
}
.row-1, .row-2, .row-3, .row-4, .row-5, .row-6, .row-7 p{
    font-size: 0.8rem;
    font-weight: 400;
}

/* for register button */
span input{
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: rgb(147, 68, 220);
    border: none;
    font-weight: 500;
    border-radius:4px;
    cursor: pointer;
    transition: 0.2s;
}

span input:hover{
    background-color: rgb(117, 117, 238);
}
.inlast h4{
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0px;
    color: rgb(156, 154, 154);
}


/* media -query */
@media only screen and (max-width: 800px){

.login-container{
    width: 80%;
}
}
 
@media only screen and (max-width: 600px){

    .login-container{
        width: 90%;
       
    }
    .row-1, .row-3, .row-5, .row-7{
        flex-direction: column;
        gap: 1.5rem;

    }
    .half-width input{
        
       /* background-color: red; */
       width: 205%;
    }
    
}
  